<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header_menu' %>

    <div class="container">
      <% flash.each do |flash_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{flash_type}")%>
      <% end %>
    </div>

    <%= yield :top_content %>

    <div class="container">
      <h1><%= yield :header %></h1>
      <%= yield %>
    </div>
  </body>
</html>
